.container {
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  max-width: calc(70% - 40px);
  max-height: calc(70% - 40px);
}

.text-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-section h1 {
  font-size: 100px;
  background: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Agrega esta línea */
}

.text-section h4 {
  font-size: 24px;
  margin: 0;
}

.text-section p {
  font-size: 24px;
  // margin: 0;
}

//responsive

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .image-section {
    flex: 1;
  }

  .text-section {
    flex: 1;
    padding: 40px;
    text-align: left;
  }

  .text-section h1 {
    font-size: 100px;
  }

  .text-section h4 {
    font-size: 24px;
  }

  .text-section p {
    font-size: 24px;
  }
}
