<body>
  <div id="seccion-destino">
    <br><br><br><br><br><br>
  </div>
  <div class="container">

    <div class="image-section">
      <img src="/assets/estilo1.png" alt="estilos">
      </div>

    <div class="text-section">
      <h1>Estilos</h1>
      <h4> exclusivos para tu marca.</h4>
      <p>En la era actual, construir sitios web utilizando plantillas gratuitas se ha vuelto cada vez más sencillo. Sin embargo, a medida que la competencia se intensifica, destacar se vuelve más complicado. Es precisamente por esta razón que en nuestro enfoque, creamos cada página web desde cero. Le otorgamos un carácter único y lo adaptamos específicamente a tus necesidades.</p>
    </div>

  </div>
</body>
