<body>
  <div id="seccion-destino" class="container">

      <div class="image-section">
        <img src="/assets/estilo1.png" alt="estilos">
    </div>

      <div class="text-section">
        <h1>Estilos </h1>
        <h4> Exclusivos para tu marca.</h4>
        <p>En la actualidad, resulta cada vez más sencillo construir sitios web utilizando plantillas gratuitas, no obstante, también se vuelve más complicado destacar entre la competencia. Es precisamente por esa razón que creamos cada página web desde cero, otorgándole un carácter único y adaptado específicamente a tus necesidades..</p>
      </div>

  </div>
</body>
