  <section id="seccion-destino">
    <div class="main-container">
      <div class="profile">
        <div class="profile-info">
          <!-- <h1>Diseño Web sitios & apps</h1>
          <p>Creamos ideas, hacemos lo que nos apasiona.</p> -->
          <h1>Diseño de Apps & Sitios Webs </h1>
          <p>Creamos ideas, hacemos lo que nos apasiona.</p>
        </div>
      </div>

      <div class="profile-image">
        <img src="/assets/Logo_sin_fondo-removebg-preview.png" alt="logo principal">
      </div>
    </div>
  </section>
