<app-header></app-header>

<!-- about.component.html -->

<div class="about-container">
  <div class="background-image"></div>
  <div class="black-bar">
    <div class="white-text">
      <svg
        class="wave"
        width="100%"
        height="76"
        viewBox="0 0 1440 76"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <path
          d="M0 2.31971e-06C105.915 1.08188 201.322 6.11264 288.169 14.8034C372.529 23.239 458.806 31.3364 545.142 39.4393C572.425 41.9999 599.714 44.5611 626.95 47.1337C857.645 69.134 1159.24 63.4079 1440 31.9498V76H0V2.31971e-06Z"
          fill="#181818"
        ></path>
      </svg>
      <div>
        <div class="text-1">
          <h2>Guido Jorge Lo Pinto</h2>
          <p>Cofundador</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <app-about1></app-about1>
  <app-footer></app-footer>
