<!-- <header class="scrolling">

  <div class="logo">
    <div routerLink="/home" class="line2">-design-</div>
    <div routerLink="/home" class="line1">LO PINTO</div>
  </div>


      <nav class="links">
        <a routerLink="/nosotros" routerLinkActive="Nosotros">Nosotros</a>
        <a routerLink="/servicios" routerLinkActive="Servicios">Servicios</a>
        <a routerLink="/proyectos" routerLinkActive="Proyectos">Proyectos</a>
        <a style="border-radius: 21px; border: 1px solid; border-color: #fff" routerLink="/contacto" routerLinkActive="Contacto">Contacto</a>
      </nav>
    </header>
  <router-outlet></router-outlet> -->



<header class="scrolling">

  <div class="logo">
    <div [style.color]="colorLetra" routerLink="/home" class="line2">-design-</div>
    <div [style.color]="colorLetra" routerLink="/home" class="line1">LO PINTO</div>
  </div>


      <nav class="links">
        <a  [style.color]="colorLetra" routerLink="/nosotros" routerLinkActive="Nosotros">Nosotros</a>
        <a  [style.color]="colorLetra" routerLink="/servicios" routerLinkActive="Servicios">Servicios</a>
        <a  [style.color]="colorLetra" routerLink="/proyectos" routerLinkActive="Proyectos">Proyectos</a>
        <a  [style.color]="colorLetra" style="border-radius: 21px; border: 1px solid; border-color: '$fonthome2'" routerLink="/contacto" routerLinkActive="Contacto">Contacto</a>
      </nav>
    </header>
  <router-outlet></router-outlet>
