@import '_colors';

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-evenly;
  transition: 0.7s;
  padding: 30px 0;
}

.logo {
  text-align: center;
}

.line1 {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.line2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
}

p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.links a {
  font-size: 17px;
  margin-left: 35px;
  text-decoration: none;
  display: inline-flex;
  color: $claro;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
}

.links a:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }

  .links a {
    font-size: 14px;
    margin-right: 5px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $claro;

  .logo {
    color: black;
  }

  .links a {
    color: black;
  }
}

/* Estilos adicionales para diferentes tamaños de pantalla */
@media screen and (min-width: 1201px) {
  /* Estilos para escritorios muy grandes */
  // ...
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Estilos para tablet en horizontal y escritorios normales */
  // ...
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Estilos para moviles en horizontal o tablet en vertical */
  // ...
}

@media screen and (max-width: 480px) {
  /* Estilos para moviles en vertical */
  // ...
}
