<header class="logo">
  <div>
    <p routerLink="/home" routerLinkActive="Home">LO PINTO</p>
    <p>design</p>
  </div>
      <nav class="links">
        <a routerLink="/nosotros" routerLinkActive="Nosotros">Nosotros</a>
        <a routerLink="/servicios" routerLinkActive="Servicios">Servicios</a>
        <a routerLink="/proyectos" routerLinkActive="Proyectos">Proyectos</a>
        <a style="border-radius: 21px; border: 1px solid; border-color: #fff" routerLink="/contacto" routerLinkActive="Contacto">Contacto</a>
      </nav>
    </header>
  <router-outlet></router-outlet>
