@import '../../../colors';

body {
  background-color: $claro;
  min-height: 120vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  padding: 80px 0;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  textarea {
    min-height: 150px;
  }

  button {
    align-self: flex-end;
  }
}

.submitMessage {
  color: green;
  font-weight: bold;
}

.small {
  margin-bottom: 15px;
  margin-top: -10px;
}

/* Consultas de medios para adaptar el diseño a diferentes tamaños de pantalla */

/* Desde 1201px en adelante */
@media screen and (min-width: 1201px) {
  .container {
    padding: 80px;
  }
}

/* Entre 992px y 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    padding: 60px;
  }
}

/* Entre 768px y 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 40px;
  }
}

/* Hasta 767px */
@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }
}

/* Hasta 600px */
@media screen and (max-width: 600px) {
  .contact-form {
    max-width: 100%;
    padding: 0 20px;
  }
}
