// $home: linear-gradient(45deg, rgb(36, 59, 182), rgb(49, 189, 220)); ///OPCIONES DE COLORES

// $home: radial-gradient(circle at 71.87% 46.14%, #b2f8ff 0, #3cb5f2 50%, #0076c2 100%); ///OPCIONES DE COLORES


$home: linear-gradient(45deg, rgb(36, 59, 182), rgb(49, 189, 220)); ///OPCIONES DE COLORES

// radial-gradient(circle at 71.87% 46.14%, #b2f8ff 0, #3cb5f2 50%, #0085E0 100%);



$claro: white;
$oscuro: black;
