@import '../../../colors';

/* Estilos base para todas las medidas de pantalla */
.container {
  background-color: $claro;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #736EFE 10%, #5EFCE8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Media query para pantallas con un ancho máximo de 1201px */
@media screen and (max-width: 1201px) {
  .container {
    max-width: 90%; /* Ajusta el ancho máximo para pantallas de tamaño medio */
    padding: 30px; /* Ajusta el padding para pantallas de tamaño medio */
  }

  h1 {
    font-size: 60px; /* Ajusta el tamaño de fuente para pantallas de tamaño medio */
  }

  p {
    font-size: 16px; /* Ajusta el tamaño de fuente para pantallas de tamaño medio */
  }
}

/* Media query para pantallas con un ancho máximo de 480px */
@media screen and (max-width: 480px) {
  .container {
    padding: 20px; /* Ajusta el padding para pantallas más pequeñas */
  }

  h1 {
    font-size: 40px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }

  p {
    font-size: 14px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }
}
