<app-header></app-header>

<body>
  <div class="container">
    <h2>Servicios</h2>
    <div class="card-container">
      <a *ngFor="let card of cards" [href]="card.link">
        <div class="card" [style.background]="card.backgroundColor">
          <h2 class="card-title">{{ card.title1 }}</h2>
          <h2 class="card-title">{{ card.title2 }}</h2>
          <p class="card-text">{{ card.text1 }}</p>
          <p class="card-text">{{ card.text2 }}</p>
          <div class="image-container">
            <img class="random-image" src="{{ card.image1 }}" alt="Image">
            <svg class="svg-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 24" height="48" width="96" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" style="stroke: white;"><line x1="5" y1="12" x2="42" y2="12"></line><polyline points="36 5 43 12 36 19"></polyline></svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>

<app-footer></app-footer>
