<app-header></app-header>

<body>
  <div class="container">
    <h1>Cookie Policy</h1>
    <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio web. Estas cookies nos permiten recopilar información sobre tu visita y personalizar tu experiencia en nuestro sitio.
      Utilizamos cookies para diversos fines, como recordar tus preferencias, ofrecer contenido relevante, analizar el tráfico del sitio y mejorar la funcionalidad de nuestro sitio web.
      Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con esta Política de Cookies. Puedes ajustar la configuración de tu navegador para bloquear o restringir las cookies, pero esto puede afectar la funcionalidad de nuestro sitio web.
      Además de las cookies propias, también utilizamos cookies de terceros para funciones específicas, como el seguimiento de estadísticas de uso, la integración de redes sociales y la publicidad personalizada.
      Algunas cookies pueden ser temporales y se eliminan automáticamente cuando cierras tu navegador, mientras que otras pueden ser persistentes y permanecer en tu dispositivo durante un período de tiempo más largo.
      Ten en cuenta que no tenemos control sobre las cookies utilizadas por terceros, como anunciantes o redes sociales, y no somos responsables de sus prácticas de cookies. Te recomendamos revisar las políticas de privacidad de estos terceros para obtener más información sobre sus prácticas y cómo optar por no participar.
      Al utilizar nuestro sitio web y aceptar el uso de cookies, nos das tu consentimiento para el procesamiento de tus datos personales de acuerdo con esta Política de Cookies.
      Si tienes alguna pregunta o inquietud sobre nuestra Política de Cookies, puedes comunicarte con nosotros a través de la información de contacto proporcionada en nuestro sitio web.</p>
  </div>
</body>

<app-footer></app-footer>
