<app-header></app-header>

<body>
  <div class="container">
    <h1>Contacto</h1>
    <p>¡Contáctanos para obtener más información!</p>

    <div class="contact-form">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre completo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Correo electrónico">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder="Escribe tu mensaje"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary">Enviar</button>
    </div>
  </div>
</body>

<app-footer></app-footer>
