<app-header></app-header>

<body>
  <div class="container">
    <h1>Privacy Policy</h1>
    <p>En Design LO PINTO, nos comprometemos a proteger la privacidad de nuestros usuarios y clientes. Esta Política de Privacidad describe cómo recopilamos, utilizamos, protegemos y compartimos la información personal que obtenemos a través de nuestro sitio web y nuestros servicios. Al utilizar nuestros servicios y acceder a nuestro sitio web, aceptas las prácticas descritas en esta Política de Privacidad.

      Recopilación de Información Personal:

      Design LO PINTO recopila información personal de los usuarios y clientes de forma voluntaria, a través de formularios de contacto, registros de cuentas o al realizar una solicitud de servicios. La información personal que recopilamos puede incluir, entre otros, nombres, direcciones de correo electrónico, números de teléfono y detalles relacionados con el proyecto o servicio solicitado.
      Uso de la Información Personal:

      Utilizamos la información personal recopilada para proporcionar y mejorar nuestros servicios, comunicarnos contigo, responder a tus consultas, procesar pagos, brindar asistencia técnica y enviar actualizaciones sobre nuestros servicios y ofertas promocionales relacionadas.
      No compartimos la información personal con terceros, a menos que sea necesario para cumplir con una solicitud del usuario o cliente, para cumplir con las leyes y regulaciones aplicables, o con tu consentimiento expreso.
      Protección de la Información Personal:

      Design LO PINTO implementa medidas de seguridad razonables para proteger la información personal contra accesos no autorizados, divulgación o alteración. Esto incluye el uso de tecnologías de cifrado y salvaguardias físicas y electrónicas.
      Sin embargo, ten en cuenta que ninguna transmisión de datos por Internet o método de almacenamiento electrónico es completamente seguro. Aunque nos esforzamos por proteger tu información personal, no podemos garantizar su seguridad absoluta.
      Cookies y Tecnologías Similares:

      Design LO PINTO utiliza cookies y tecnologías similares para mejorar tu experiencia en nuestro sitio web y proporcionarte contenido personalizado. Estas cookies pueden recopilar información como tu dirección IP, tipo de navegador, preferencias y actividades de navegación.
      Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra Política de Cookies. Puedes ajustar la configuración de tu navegador para bloquear o restringir las cookies, pero esto puede afectar la funcionalidad de nuestro sitio web.
      Enlaces a Sitios de Terceros:

      Nuestro sitio web puede contener enlaces a sitios web de terceros. Design LO PINTO no se hace responsable de las prácticas de privacidad o el contenido de estos sitios. Te recomendamos revisar las políticas de privacidad de los sitios web de terceros antes de proporcionarles tu información personal.
      Cambios en la Política de Privacidad:

      Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Cualquier cambio importante será notificado a través de nuestro sitio web o por otros medios apropiados. Te recomendamos revisar esta política periódicamente para estar informado sobre nuestras prácticas de privacidad actualizadas.
      Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, puedes comunicarte con nosotros a través de la información de contacto proporcionada en nuestro sitio web.</p>
  </div>
</body>

<app-footer></app-footer>
