@import '_colors';

.container {
  display: flex;
  flex-direction: column;
    height: 500px;
  color: $claro;
}

.text-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section h1 {
  font-size: 10px;
}

.text-section h4 {
  font-size: 24px;
  margin: 0;
}

.text-section p {
  font-size: 16px;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  max-width: 50%;
  max-height: 50%;
}

.profile-button {
  position: absolute;
  bottom: 20px; /* Ajusta la distancia desde abajo según tus necesidades */
  left: 50%;
  transform: translateX(-50%);
}

button {
  padding: 10px 20px;
  background-color: #4285f4; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3b79db; /* Color de fondo del botón al pasar el cursor */
}

//responsive

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .text-section {
    flex: 1;
    padding: 40px;
    text-align: left;
  }

  .text-section h1 {
    font-size: 90px;
  }

  .text-section p {
    font-size: 24px;
  }
}
