@import '_colors';

:host {
  display: block;
  height: 100vh; /* Establece la altura del componente al 100% del alto de la ventana */
  background: $home
}


body {
  color: $claro;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;

  /* Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.text-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section h1 {
  font-size: 80px;
}

.text-section h3{
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  font-weight: 400;
  text-align: left;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  max-width: 50%;
  max-height: 50%;
}

.profile-button {
  position: absolute;
  bottom: 20px; /* Ajusta la distancia desde abajo según tus necesidades */
  left: 50%;
  transform: translateX(-50%);
}

button {
  padding: 10px 20px;
  background-color: #4285f4; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3b79db; /* Color de fondo del botón al pasar el cursor */
}

/* Escritorios muy grandes */
@media screen and (min-width: 1201px) {
  body {
    color: $claro;
    min-height: 100vh;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .text-section {
    padding: 20px;
  }

  .text-section h1 {
    font-size: 60px;
  }

  .text-section h4 {
    font-size: 24px;
  }

  .image-section img {
    max-width: 50%;
    max-height: 50%;
  }

  .profile-button {
    bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Tablet en horizontal y escritorios normales */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  body {
    color: $claro;
    min-height: 100vh;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .text-section {
    padding: 20px;
  }

  .text-section h1 {
    font-size: 80px;
  }

  .text-section h4 {
    font-size: 24px;
  }

  .image-section img {
    max-width: 50%;
    max-height: 50%;
  }

  .profile-button {
    bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Moviles en horizontal o tablet en vertical */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    color: $claro;
    min-height: 100vh;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    /* Grid */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .text-section {
    padding: 20px;
  }

  .text-section h1 {
    font-size: 40px;
  }

  .text-section h4 {
    font-size: 18px;
  }

  .image-section img {
    max-width: 70%;
    max-height: 70%;
  }

  .profile-button {
    bottom: 30px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Moviles en vertical */
@media screen and (max-width: 480px) {
  body {
    color: $claro;
    min-height: 100vh;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    /* Grid */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .text-section {
    padding: 10px;
  }

  .text-section h1 {
    font-size: 30px;
  }

  .text-section h4 {
    font-size: 16px;
  }

  .image-section img {
    max-width: 80%;
    max-height: 80%;
  }

  .profile-button {
    bottom: 40px;
  }

  button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
