<app-header></app-header>

<body>
  <div class="main-container">
    <div class="profile">
      <div class="profile-info">
        <h1>Diseño de Apps & Sitios Webs </h1>
        <p>Creamos ideas, hacemos lo que nos apasiona.</p>
      </div>
    </div>

    <div class="profile-image">
      <img src="/assets/Logo_sin_fondo-removebg-preview.png" alt="logo principal">
    </div>
  </div>

  <div class="profile-button">
  <button (click)="scrollToSection()">Ir más abajo</button>
</div>
</body>
<app-home2></app-home2>
<app-home3></app-home3>
<app-footer></app-footer>
