<div class="container">
    <div class="text-section">
      <h1>Accesibles</h1>
      <h4>Nos esforzamos por crear interfaces intuitivas, simples y funcionales.</h4>
      <p>Entendemos que cada sitio web tiene un propósito específico, ya sea generar conciencia, fomentar la confianza o impulsar las ventas. Es por eso que nos comprometemos a crear el diseño más simple y efectivo para ayudarte a alcanzar tus objetivos.</p>
    </div>
    <div class="image-section">
      <img src="/assets/estilo.png" alt="Imagen" />
    </div>
  </div>
