<app-header></app-header>
<body>
  <section id="nosotros">
    <div class="contenido">
      <div class="imagen">
        <img src="../../../../assets/foto chica-liviana1.png" alt="Tu Foto">
      </div>
      <div class="texto">
        <h2>Guido Jorge Lo Pinto</h2>
        <p>Desarrollador Web Full Stack en Angular, HTML, SCSS y Node.js. Puedo crear aplicaciones y sitios web atractivos, funcionales y optimizados para brindar una gran experiencia al usuario.</p>
      </div>
    </div>
  </section>
</body>
<app-footer></app-footer>
