@import '_colors';

:host {
  display: block;
  height: 100vh; /* Establece la altura del componente al 100% del alto de la ventana */
  background-image: url('../../../../assets/nosotros\ fondo.jpg');
  background-size: cover;
  background-position: center;
}


body {
  color: $claro;
  min-height: 100vh;

  filter: blur(5px); /* Aplica un desenfoque de 5 píxeles */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

// body::before {
//   content: '';
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   // height: 100%;
//   background-image: url('../../../../assets/nosotros\ fondo.jpg');
//   background-size: cover;
//   background-position: center;
//   filter: blur(5px); /* Aplica un desenfoque de 5 píxeles */
//   z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
// }

#nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 0;
  color: #333;
}

.contenido {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contenido h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contenido p {
  font-size: 18px;
  line-height: 1.6;
}


