<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <!-- <p>&copy; 2023 Guido Jorge Lo Pinto S.A. El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad. Las fotos son a modo ilustrativo.</p>
      <p>By Guido Jorge Lo Pinto</p> -->
      <p>2023 © DESIGN LO PINTO</p>
      <a routerLink="/privacy-policy" routerLinkActive="privacy-policy">Política de Privacidad</a>
      <a routerLink="/cookie-policy" routerLinkActive="cookie-policy">Política de Galletas</a>
    </div>
  </div>
</footer>
